@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Code Lou Proj<br />
    Louisville, KY, 40245<br />
    <abbr title="Phone">P:</abbr>
    555-555-
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mratch83@gmail.com">mailto:mratch83@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mailto:mratch83@gmail.com">mailto:mratch83@gmail.com</a>
</address>
