@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>The Store</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Store</h2>
        <p>
            The Store is a project allowing someone to add items, descriptions, and prices for sale.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build your custom order.</h2>
        <p>You can add different items and adjust prices.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can see this project on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/mratch01/Project">See project source code &raquo;</a></p>
    </div>
</div>
